/* estilo general */
* {
    box-sizing: border-box;
}

/* configuración y reset de etiquetas que podemos usar */
ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p, h2, h3, h4 {
    margin: 0;
    color: white;
}

/* estilo body */
body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: black;  
}

/*estilo header */
header {
    background-color:black;
}

.contenedor {
    width: 95%;
    margin: auto;
}

header nav a {
    display: inline-block;
    width: 140px; /*pasar de pixeles a medida relativa */
    height: 30px;
    color: white;
    text-align: center;
    background-color:black;
}

header nav form button {
    border: none;
    background-color: black;
    color: white;
}

/*.login {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding: 10px 0 0 0;
}*/

.secciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* estilo main */
.contenedor-main {
    width: 95%;
    margin: auto;
}

main section h3 {
    padding: 20px 0px /*hay que chequear si el padding se expresa en porcentaje*/
}

.contenedor-artículo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*estilo footer*/
footer {
    background-color: black;
}

footer h3 {
    padding: 20px 0;
}

.contenedor-footer {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*diseño responsive TABLETS*/
@media (max-width:768px) {
    /*HOME*/
}
    

/* Detail movie (no terminé. Me cuestA perdón x tan poco) Todo lo que esté entre comentarios es porque todavía no lo resuelvo o no sé cómo ponerlo. */

.portada{
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 10px 10px;
    margin: 30px;
    background-color: rosybrown;
    
}  

.titulo-serie {
    color: white;
    margin: 20px;
}

 .descripción {
    font-size: 18px;
    color: white;
    padding: 20px;

   /*  display: inline-block;
    justify-content: space-around;
    padding: 15px 10px;
    margin: 30px;
    background-color: rosybrown;  */
  } 

.características {
    display: block;
    justify-content: center;
    color: white;
    /* padding: 7px 0;
    margin: 20px; */
    background-color: seagreen;
}

.boton {
    display: inline-block;
    margin: 20px;
    width: 140px; 
    height: 30px;
    color: white;
    align-items: center;
    background-color:grey
    
}

.trailer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: slateblue;

}
/*resposive tablet*/
@media (max-width:768px) {
    
}

/* genero peliculas y series */


.contenedor-géneros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artículo-género {
    padding: 0 10px;
}