/* A tener en cuenta para diseño responsive:
            - las medidas de la prop. height no se expresan en porcentaje.
            - para modificar las medidas de prop. como width, se observa el tamaño
            de la etiqueta que queremos modificar, el del contenedor que la lleva
            dentro (representa el 100%), y se hace la regla de tres simple. */ 

/*estilo general*/
* {
    box-sizing: border-box;
}

/*configuración y reset de etiquetas que podemos usar*/
ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p, h3, h4 {
    margin: 0;
    color: white;
}

/*estilo body*/
body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: black;
}

/*estilo header*/
header {
    background-color:black;
}

.contenedor {
    width: 95%;
    margin: auto;
}

header nav a {
    display: inline-block;
    width: 13.33%; /*140px*/
    height: 30px;
    color: white;
    text-align: center;
    background-color:black;
}

header nav form button {
    border: none;
    background-color: black;
    color: white;
}

/*.login {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding: 10px 0 0 0;
}*/

.secciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*estilo main HOME*/
.contenedor-main {
    width: 95%;
    margin: auto;
}

main section h3 {
    padding: 20px 0px /*hay que chequear si el padding se expresa en porcentaje*/
}

.contenedor-artículo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*estilo footer*/
footer {
    background-color: black;
}

footer h3 {
    padding: 20px 0;
}

.contenedor-footer {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*diseño responsive TABLETS*/
@media (max-width:768px) {
    /*HOME*/
}
    

/* Detail movie (no terminé. Me cuestA perdón x tan poco) Todo lo que esté entre comentarios es porque todavía no lo resuelvo o no sé cómo ponerlo. */

/* Float-left para que dentro del contenedor la imagen este flotando a a izquierda y sus demás elementos a la derecha. Margin-right, para crear un espacio entre la foto y el texto  */
 .posicionamiento{
  float: left;
  background-color: seagreen;
  margin-right: 15px;
  
}  

.caja-pelicula {
    background-color: green;
    padding-left: 70px;
    padding-right: 70px;
}


.titulo-serie {
    color: white;
}

 .descripción {
    display: flex;
    font-size: 18px;
    color: white;
    background-color: salmon;
    padding-right: 70px

} 
            
.características {
    display: block;
    justify-content: center;
    color: white;
    padding: 7px 0;
    margin: 20px; 
    background-color: red
}

.reproductores {
    display: flex;
    justify-content: center;
}

.boton {
    display: inline-block;
    margin: 20px;
    width: 140px; 
    height: 30px;
    color: white;
    background-color:grey
}

.trailer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: slateblue;

/*resposive tablet*/
@media (max-width:768px) {
    
}

.contenedor-generos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aqua;  
}