/* A tener en cuenta para diseño responsive:
            - las medidas de la prop. height no se expresan en porcentaje.
            - para modificar las medidas de prop. como width, se observa el tamaño
            de la etiqueta que queremos modificar, el del contenedor que la lleva
            dentro (representa el 100%), y se hace la regla de tres simple. */ 

/* estilo general */

* {
    box-sizing: border-box;
}

/* configuración y reset de etiquetas que podemos usar */

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

p, h2, h3, h4 {
    margin: 0;
    color: white;
}

form button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: white;
}

/* estilo body */

body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: black;  
}

/* estilo header */

header {
    background-color:black;
}

.contenedor {
    width: 95%;
    margin: auto;
}

.logo {
    max-width: 100%;
    height: 151px;
}

.img {
    width: 13,77%;
    height: 145px;
}

.nav-barritas {
    display: none;
}

header nav a {
    display: inline-block;
    width: 140px; /*pasar de pixeles a medida relativa */
    height: 30px;
    text-align: center;
    background-color:black;
}

/*.login {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding: 10px 0 0 0;
}*/

.secciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buscador {
    max-width: 19.46%; /204.91px/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#input {
    max-width: 93.49%; /163.66px/
}

#button {
    max-width: 6.51%; /13.34px/
}

/* estilo main HOME */

.contenedor-main {
    width: 95%;
    margin: auto;
}

main section h3 {
    padding: 20px 0px 
}

.texto-verde {
    color: #5AE15A;
}

.contenedor-artículo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* estilo main GÉNEROS Y DETALLE DE GÉNERO */

.título-géneros {
    padding: 25px 0 0 0;
}

.contenedor-géneros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artículo-género {
    padding: 0 10px;
}

/* estilo main DETAIL-MOVIE */

#título-detalle {
    padding: 15px 0 0 60px;
}

.contenedor-detalles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 60px;
}

.portada {
    max-width: 28.24%;
    height: 336px;
}

.descripción {
    padding: 0 0 0 10px;
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
    font-family:'Roboto', sans-serif;
}

.contenedor-desc-lis {
    flex-direction: column;
}

ul {
    padding: 4px 0 0 0;
}

ul li span {
    padding: 0 2px;
}

ul li h4 {
    color: #5AE15A;
}

.lista {
    display: flex;
    color: white;
    padding: 0 0 0 10px;
}

.form-fav {
    display: flex;
    flex-direction: row;
}

#tráiler {
    padding: 15px 0 0 0;
    text-align: center;
}

.caja-tráiler {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* estilo footer */

footer {
    background-color: black;
}

footer h3 {
    padding: 20px 0;
    text-align: center;
}

.contenedor-footer {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* diseño responsive MOBILE LAST */
@media (max-width:420px) {
    /* HEADER */
    .contenedor {
        width: 90%;
    }

    .nav-barritas {
        display:inline-block;
        color: white;
    }

    .secciones-ocultas {
        display: none;
    }

    #input {
        max-width: none;
        padding: 5px 0;
    }

    #button {
        max-width: none;
        padding: 5px;
    }

    /* HOME */

    main section h3 {
        padding: 20px 20px;
    }

    .contenedor-main {
        width: 90%
    }

    .nombre-estreno {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px 0 15px 0;
    }

    .contenedor-artículo {
        flex-direction: column;
        align-items: center;
    }

    /* GÉNEROS */

    .título-géneros {
        padding: 25px 0 0 20px;
    }

    .contenedor-géneros {
        flex-direction: column;
        align-items: center;
    }

    /* DETAIL MOVIE */

    #título-detalle {
        padding: 15px 0 0 0;
        text-align: center;
    }

    .contenedor-detalles {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    
    .portada {
        max-width: none;
        height: 336px;
        padding: 0 0 15px 0;
    }

    .descripción {
        font-size: 15px;
        padding: 0;
    }
    
    ul {
        padding: 4px 0 0 0;
    }
    
    ul li span {
        padding: 0 0 0 10px;
    }
    
    ul li h4 {
        color: #5AE15A;
    }
    
    .lista {
        padding: 0 0 2px 0;
        flex-direction: column;
    }
    
    #tráiler {
        padding: 15px 0 0 0;
        text-align: center;
    }
    
    .caja-tráiler {
        padding: 0;
    }

    /* FOOTER*/
    
    .contenedor-footer {
        width: 90%;
    }
}