/* A tener en cuenta para diseño responsive:
            - las medidas de la prop. height no se expresan en porcentaje.
            - para modificar las medidas de prop. como width, se observa el tamaño
            de la etiqueta que queremos modificar, el del contenedor que la lleva
            dentro (representa el 100%), y se hace la regla de tres simple. */ 

/* estilo general */

* {
    box-sizing: border-box;
}

/* configuración y reset de etiquetas que podemos usar */

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

p, h2, h3, h4 {
    margin: 0;
    color: white;
}

form button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: white;
}

/* estilo body */

body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: black;
}

/* estilo HEADER */

header {
    background-color:black;
}

.contenedor {
    width: 95%;
    margin: auto;
}

.logo {
    min-width: 13,77%;
}

.img {
    max-width: 100%;
    height: 145px;
}

.nav-barritas {
    display: none;
}

header nav a {
    display: inline-block;
    width: 140px; /*pasar de pixeles a medida relativa */
    height: 30px;
    text-align: center;
    background-color:black;
}

/*.login {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding: 10px 0 0 0;
}*/

.secciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buscador {
    max-width: 33.04%; /*350px*/
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#input {
    max-width: 93.49%; /*163.66px*/
}

#button {
    max-width: 6.51%; /*13.34px*/
    padding: 1px;
}

.alerta {
    font-size: 11px;
    padding: 4px;
    flex-direction: column;
    align-items: center;
}

/* estilo main HOME */

.contenedor-main {
    width: 95%;
    margin: auto;
}

.título-h2 {
    padding: 25px 0 10px 0;
}

.texto-verde {
    color: #5AE15A;
}

.contenedor-artículo1 {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-artículo2 {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-artículo3 {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* estilo main GÉNEROS Y DETALLE DE GÉNERO */

main section h3 {
    padding: 20px 0 
}

.contenedor-géneros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artículo-género {
    padding: 0 15px 0 0;
}

/* estilo main DETAIL-MOVIE/SERIE */

#título-detalle {
    padding: 15px 0 0 60px;
}

.contenedor-detalles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 60px;
}

.portada {
    max-width: 28.24%;
    height: 336px;
}

.descripción {
    padding: 0 0 0 10px;
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
    font-family:'Roboto', sans-serif;
}

.contenedor-desc-lis {
    flex-direction: column;
}

ul {
    padding: 4px 0 0 0;
}

ul li span {
    padding: 0 2px;
}

ul li h4 {
    color: #5AE15A;
}

.lista {
    display: flex;
    color: white;
    padding: 0 0 0 10px;
}

.form-fav {
    display: flex;
    flex-direction: row;
}

/* #tráiler {
    padding: 15px 0 0 0;
    text-align: center;
}

.caja-tráiler {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
} */

/* estilo main FAVORITOS*/

#sección-fav {
    padding: 20px 0 0 0;
}

main section ul li form label {
    padding: 0 5px 0 0;
}

/* estilo main RESULTADOS */

#resultados {
    text-align: center;
}

#clasificación {
    text-align: center;
    background-color: #5AE15A;
}

    /* la siguiente clase es para ocultar otros ejemplos de cómo podrían visualizarse los resultados de busqueda del usuario 
    en el caso de que buscara una película o serie en específico que sí se encuentre en el sitio 
    (no un género como el caso que dejamos visible en el html)*/

.ejemplos-resultados {
    display: none;
}

    /* el siguiente id cumple la misma funcionalidad que la clase anterior, aunque se lo asignamos a la leyenda.
    Lo separamos porque la leyenda no es un ejemplo simplemente y puede que haya que aplicarle determinadas propiedades
    más adelante*/

/* #leyenda2 {
    display: none;
} */

/* estilo FOOTER */

footer {
    background-color: black;
}

footer h3 {
    padding: 40px 0;
    text-align: center;
}

.contenedor-footer {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-TMDB {
    margin: 0;
    padding: 20px 0 0 0;
    max-width: 4.64%;
}

.TMDB {
    padding: 0;
}

.logoTMDB {
    max-width: 100%;
    padding: 0;
}



/* diseño responsive MOBILE LAST */

@media (max-width:410px) {
    
    /* HEADER */
    .contenedor {
        width: 90%;
    }

    .nav-barritas {
        display:inline-block;
        color: white;
    }

    .secciones-ocultas {
        display: none;
    }

    .buscador {
        max-width: none;
    }

    #input {
        max-width: none;
        padding: 5px 0;
    }

    #button {
        max-width: none;
        padding: 5px;
    }

    .alerta {
        padding: 10px 0;
    }

    /* HOME */

    .título-h2 {
        padding: 25px 0 0 20px;
    }

    .contenedor-main {
        width: 90%
    }

    .nombre-estreno {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px 0 15px 0;
    }

    .contenedor-artículo {
        flex-direction: column;
        align-items: center;
    }

    /* GÉNEROS */

    main section h3 {
        padding: 20px 20px;
    }

    .contenedor-géneros {
        flex-direction: column;
        align-items: center;
    }

    .artículo-género {
        padding: 0;
    }

    /* DETAIL MOVIE/SERIE */

    #título-detalle {
        padding: 15px 0 0 0;
        text-align: center;
    }

    .contenedor-detalles {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    
    .portada {
        max-width: none;
        height: 336px;
        padding: 0 0 15px 0;
    }

    .descripción {
        font-size: 15px;
        padding: 0;
    }
    
    ul {
        padding: 4px 0 0 0;
    }
    
    ul li span {
        padding: 0 0 0 10px;
    }
    
    ul li h4 {
        color: #5AE15A;
    }
    
    .lista {
        padding: 0 0 2px 0;
        flex-direction: column;
    }

    /* 
    #tráiler {
        padding: 15px 0 0 0;
        text-align: center;
    }
    
    .caja-tráiler {
        padding: 0;
    }

    .reproductores {
        padding: 15px 0 0 0;
        text-align: center;
        background-color: #5AE15A;
    } */

    /* RESULTADOS */

    #resultados {
        text-align: left;
        padding: 20px 20px 0 20px;
    }

    /* FOOTER */
    
    footer h3 {
        font-size: 15px;
        padding: 15px 0;
    }

    .contenedor-footer {
        width: 90%;
    }  
    
    .contenedor-TMDB {
        padding: 0;
        max-width: 10%;
    }
}