/*estilo general*/
* {
    box-sizing: border-box;
}

/*estilo body*/
body {
    margin: 0;
}

/*estilo header*/
header {
    background-color: black;
}

/* Revisar en qué etiqueta ponemos estas propiedades para
mover la caja de usuario   
    display: flex;
    flex-direction: row;
    justify-content: end;
*/

header nav a {
    display: inline-block;
    width: 120px;
    height: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #ABF44D;
}